@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

#name {
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    font-size: 100px;
    color: teal;
    
}

